<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Welcome to wohenxian.com</title>
</head>
<body>
<h1>Welcome to wohenxian.com</h1>
<p>this is testing page.</p>
<p>wohenxian.com is a timeline website.</p>
<p>this is a test template assign var: <!--{$welcome}--></p>
<p>some links:</p>
<a href="/passport/register" target="_self">注册</a>
<a href="/passport/login" target="_self">登录</a>
</body>
</html>